.env
dagster_home/*
!dagster.yaml
.vscode/
.pytest_cache/
src/.coverage
__pycache__/
.ipynb_checkpoints/
.venv/
.idea/
dc_ecs_template.yml
.DS_store
.secrets
**.csv
.env
*.tar
*.db
*.db-journal
sandbox*
!sample_sandbox.ipynb
!load_dagster_assets_example.ipynb
.prettierignore
*.xlsx
sql_sandbox/*

# from `cdk init`
*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json
dotenv.json
cdk.out/

*dbt_source/target/
.user.yml
*dbt.log*

lambda/requirements.txt
data
